name: "guileful_charger"

services:
  rails-app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/workspace:cached
    
    working_dir: /workspace
    environment:
      - DB_HOST=postgres
      - RABBITMQ_URL=amqp://rabbitmq:5672

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Uncomment the next line to use a non-root user for all processes.
    # user: vscode

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    depends_on:
      - postgres
      - rabbitmq

  postgres:
    image: postgres:16.1
    restart: unless-stopped
    networks:
      - default
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  rabbitmq:
    image: rabbitmq:3-management
    restart: unless-stopped
    configs:
      - source: plugins
        target: /etc/rabbitmq/enabled_plugins
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

configs:
  plugins:
    content: "[rabbitmq_management, rabbitmq_prometheus, rabbitmq_consistent_hash_exchange]."

volumes:
  postgres-data:
  rabbitmq_data:
